.social-links {
    margin-top: 16px;
}

.social {
    display: flex;
    margin-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 10px;

    &__item {
        display: flex;
    }

    &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        background-color: $white-color;
        fill: #AFB1B8;
        transition: $duration $timing-function;

        &:hover {
            background-color: $accent-color;
            fill: $white-color;
        }
    }

    &__icon {
        margin: auto;
        align-self: center;
    }
}